<nav>
  <ul>
    <div class="left">
    <li ><h1 >Q<span style="height:20px;">OLLABB</span></h1></li></div>
    <div class="bt">
    <li ><a href="companies">companies</a></li>
    <li ><a href="student">student</a></li>
    <li ><a href="collage">collage/universities</a></li>
    <li ><a href="About">About Us</a></li>
    </div>
    <div class="right">
     <li ><a href="Sign">Sign in</a></li> 
     <li ><a href="reg">Register</a></li>
    </div>
  </ul><hr>
  <div class="con">
  <div class="content">
    <h1>Get valuable indrustry experiences</h1>
    <p>work on industry project gain employbility and exploarinternshi and job</p>
    <button>Explore</button>
  </div>
  <div class="imageone">
    
  </div>
</div>
</nav>
<div class="secnev">
    <div class="Exp">
      
      <button>
        <i class="fa-light fa-video">Explore Opportunities</i>
      </button>
    </div>
    <div class="connect">
    <button>
      <i class="fa-light fa-video">connect us</i>
    </button>
    </div>
    <div class="free">
      <button>
      <i class="fa-light fa-video">Sign Up For Free</i>
    </button>
    </div>

</div>
<div class="intro">
  <div class="work">

    <h1>How to Works</h1>
  </div>
  <div class="wor">
    <div class="one">
      <h1>01</h1>
      <div class="onecon">
        <h1>Create a profile</h1>
        <p>first create your profile</p>
      </div>
    </div>
    <div class="one">
      <h1>02</h1>
      <div class="onecon">
        <h1>Explore Opportunities</h1>
        <p>"the next Explore Opportunities"</p>
        
      </div>
    </div>
    <div class="one">
      <h1>03</h1>
      <div class="onecon">
        <h1>showCase capabilities</h1>
        <p>first create your profile</p>
      </div>
    </div>
    <div class="one">
      <h1>04</h1>
      <div class="onecon">
        <h1>Get certified</h1>
        <p>first create your profile</p>
      </div>
    </div>
  </div>
  <div class="introd">
    <div class="introduction">
      <h1>work on real industry project and show case capabilities</h1>
      <p>Srtand out from the comptation with savvy marketting state of the art career sites but you are own team too</p>
      <button>Signup for free</button>
    </div>
    <div class="imageone1">
      
    </div>
  </div>
</div>
<div class="feature">
  <div class="comp">
    <h2>
      company
    </h2>
    <p>create 2D/3d video amination in a sort time</p>
  </div>
  <div class="comp">
    <h2>Student</h2>
    <p>create 2D/3d video amination in a sort time</p>
  </div>
  <div class="comp">
    <h2>collage/univesity</h2>
    <p>create 2D/3d video amination in a sort time</p>
  </div>
</div>